.comments-area {
	margin: $gap-larger 0 0;
}

.comments-title,
.pings-title,
.comment-reply-title {
	@include font-size( 2.8, 50/28 );
	margin-bottom: $gap-small;
}

.comment-list {
	list-style: none;
	margin: 0 0 $gap-larger;
	padding: 0;

	.children {
		list-style: none;
		margin: 0 0 0 $gap-smaller;
	}

	.comment {
		margin: $gap 0;
	}

	.comment-meta {
		display: grid;
		grid-template-columns: 64px 1fr;
		margin-bottom: $gap-smaller;

		.avatar {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 3;
			height: 64px;
			width: 64px;
		}

		.comment-posted {
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
			margin-left: $gap-smallest;
			font-family: $font-header;
			@include font-size( 1.4, 1.2 );
			text-transform: uppercase;
			letter-spacing: 2px;

			a {
				color: $color-text;
			}
		}

		.comment-author {
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3;
			margin-left: $gap-smallest;
		}
	}

	.comment-content,
	.comment-reply {
		margin-left: 64px + $gap-smallest;

		@media (max-width: $bkpt-tablet) {
			margin-left: 0;
		}
	}

	.comment-reply {
		font-family: $font-header;
		@include font-size( 2 );
	}
}

.pings-list {
	list-style: none;
	margin: 0 0 $gap-larger;
	padding: 0;

	li {
		margin-bottom: $gap-smallest;
	}
}
