.site {
	margin: 0 auto;
	max-width: $size-main-width;
}

.site-main {
	.entry-image {}

	.wp-post-image {
		display: block;
		margin: 0 auto 40px;
	}

	.entry-content,
	.entry-summary {
		margin: 30px 0 0;
	}

	.wp-block-separator {
		clear: both;
	}

	.posts-navigation,
	.post-navigation {
		@include font-size( 1.4 );
	}
}

@import 'content/home';
@import 'content/single';
