.site {
	margin: 0 auto;
	max-width: $size-main-width;
}

.site-main {
	.entry-image {}

	.wp-post-image {
		display: block;
		margin: 0 auto 40px;
	}

	.entry-content {
		margin: 0;
	}

	.wp-block-separator {
		clear: both;
	}

	.posts-navigation,
	.post-navigation {
		@include font-size( 2 );
		font-family: $font-header;

		.nav-all,
		.nav-previous,
		.nav-next {
			margin-bottom: $gap-smallest;
		}
	}
}

.wp-caption {
	border: none;
	margin-bottom: 1em;

	img {
		margin: 0;
		max-width: 100%;
	}

	.wp-caption-text {
		margin: 10px 0 8px;
		text-align: left;
	}
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@import 'content/home';
@import 'content/single';
