.site-header {
	margin: $gap-largest auto $gap-large;
}

.site-title {
	a {
		display: block;
		width: 255px;
		height: 25px;
		text-indent: -9999em;
		background: transparent url( "#{$svg-logo}" ) no-repeat center;

		@include hover-state {
			text-decoration: none;
		}
	}
}
