.site-header {
	margin: $gap-largest auto $gap-large;
}

.site-title {
	margin: 0;

	a {
		display: block;
		width: 255px;
		height: 25px;
		text-indent: -9999em;
		background: transparent no-repeat center;
		background-image: svg-load('./assets/logo.svg');

		@include hover-state {
			text-decoration: none;
		}
	}
}
