.wp-block-separator {
	clear: both;
	margin-top: $gap-smaller;
	margin-bottom: $gap-smaller;
	height: 2px;
	border: none;
	background-color: $dark-grey;

	&.is-style-dots {
		background-color: transparent;

		&:before {
			font-weight: bold;
			color: $lilac;
		}
	}
}

.wp-block-quote {
	margin: 0 0 $gap-smaller;
	@include font-size( 3.2, 54/32 );
	font-weight: 600;
	font-style: italic;
	color: $rind-green;
	padding-left: $gap-large !important;
	background-image: url( "#{$svg-quote}" );
	background-repeat: no-repeat;
	background-position: 0 $gap-smaller/2;
	border: none !important;

	p {
		font-size: inherit;
		line-height: inherit;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	cite {
		display: inline-block;
		margin-top: 0;
		color: $lilac;
		@include font-size( 2.4, 1.2 );
		font-weight: normal;

		&:before {
			content: '—';
			margin-right: 0.5em;
		}
	}

	&.is-large,
	&.is-style-large {
		margin-left: -$gap-large;
		padding-left: $gap-large;
		padding-right: 0;

		p {
			font-size: inherit;
			line-height: inherit;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		cite {
			@include font-size( 2.4, 1.2 );
		}
	}
}

.wp-block-pullquote {
	margin: $gap-small;
	padding: $gap 0;
	border-color: $dark-grey;
	text-align: left;

	> p {
		@include font-size( 3.2, 54/32 );
		font-weight: 600;
		font-style: italic;
		color: $rind-green;
	}

	> p:last-of-type {
		margin-bottom: 0;
	}

	.alignfull {
		padding: 0
	}
}

.alignwide {
	margin-left: 0;
	margin-right: -100px - $size-sidebar-width;
	max-width: 100vw;
}

.alignfull {
	margin-left: calc( -45vw + #{ $size-main-width/2 } );
	margin-right: 5vw;
	max-width:90vw;
	width: 90vw;

	@media (max-width: $size-main-width) {
		margin-left: 2vw;
		margin-right: 2vw;
		max-width:96vw;
		width: 96vw;
	}
}

.wp-block-cover-image {
	&.alignwide {
		width: calc( 100% + #{ 100px + $size-sidebar-width } );
	}

	&.has-background-dim::before {
		background-color: rgba($slate-grey, 0.5);
	}

	@for $i from 1 through 10 {
		&.has-background-dim.has-background-dim-#{ $i * 10 }::before {
			background-color: rgba($slate-grey, $i * 0.1);
		}
	}
}

.wp-block-embed {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-button a.wp-block-button__link {
	@include button;
}

.wp-block-button .wp-block-button__link {
	@include hover-state {
		color: $color-text;
		background: transparent;
	}
}
