.wp-block-separator {
	clear: both;
	margin-top: $gap-smaller;
	margin-bottom: $gap-smaller;
	height: 2px;
	border: none;
	background-color: $dark-grey;

	&.is-style-dots {
		background-color: transparent;

		&:before {
			font-weight: bold;
			color: $lilac;
		}
	}
}

.wp-block-quote {
	margin: 0 0 $gap-smaller;
	@include font-size( 3.2, 54/32 );
	font-weight: 600;
	font-style: italic;
	color: $rind-green;
	padding-left: $gap-large !important;
	background-image: url( "#{$svg-quote}" );
	background-repeat: no-repeat;
	background-position: 0 $gap-smaller/2;
	border: none !important;

	p {
		font-size: inherit;
		line-height: inherit;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	cite {
		display: inline-block;
		margin-top: 0;
		color: $lilac;
		@include font-size( 2.4, 1.2 );
		font-weight: normal;

		&:before {
			content: '—';
			margin-right: 0.5em;
		}
	}

	&.is-large,
	&.is-style-large {
		margin-left: -$gap-large;
		padding-left: $gap-large;
		padding-right: 0;

		p {
			font-size: inherit;
			line-height: inherit;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		cite {
			@include font-size( 2.4, 1.2 );
		}

		@media (max-width: $bkpt-tablet) {
			margin-left: 0;
			padding-left: $gap-small !important;
		}
	}
}

.wp-block-pullquote {
	margin: $gap-small;
	padding: $gap 0;
	border-color: $dark-grey;
	text-align: left;

	> p {
		@include font-size( 3.2, 54/32 );
		font-weight: 600;
		font-style: italic;
		color: $rind-green;
	}

	> p:last-of-type {
		margin-bottom: 0;
	}

	.alignfull {
		padding: 0
	}

	@media (max-width: $bkpt-tablet) {
		&.wp-block-pullquote blockquote {
			max-width: 90%;
		}
	}
}

.wp-block-cover-image {
	&.alignwide {
		width: calc( 100% + #{ 100px + $size-sidebar-width } );
	}

	&.has-background-dim::before {
		background-color: rgba($slate-grey, 0.5);
	}

	@for $i from 1 through 10 {
		&.has-background-dim.has-background-dim-#{ $i * 10 }::before {
			background-color: rgba($slate-grey, $i * 0.1);
		}
	}
}

.wp-block-media-text {
	@media (max-width: $bkpt-phone) {
		display: block;
	}
}

.wp-block-embed {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-button a.wp-block-button__link {
	@include button;
}

.wp-block-button .wp-block-button__link {
	@include hover-state {
		color: $color-text;
		background: transparent;
	}
}

$colors: (
	slate-grey: $slate-grey,
	dark-grey: $dark-grey,
	lilac: $lilac,
	rind-green: $rind-green,
	watermelon: $watermelon,
);

@each $name, $value in $colors {
	.has-#{$name}-background-color {
		background-color: $value;
	}

	.has-#{$name}-color {
		color: $value;

		.wp-block-quote &,
		.wp-block-pullquote & {
			$color-svg-quote: str-replace( $svg-quote, '#BBE187', $value );
			background-image: url( "#{$color-svg-quote}" );
		}
	}
}
