* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: $font-text;
	@include font-size( 2.4, 40/24 );
	color: $color-text;
	background: $slate-grey;
	@include light-on-dark;
}

button,
input,
select,
textarea {
	font-family: $font-text;
}

hr {
	height: 2px;
	border: none;
	background-color: $dark-grey;
}

p {
	margin: 0 0 $gap-smaller;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a,
a:visited {
	color: $watermelon;
	text-decoration: none;

	@include hover-state {
		text-decoration: underline;
	}
}

.entry-title {
	margin: 0 0 $gap;
	font-family: $font-header;
	font-weight: 600;
	@include font-size( 3.4, 1.2 );
	color: $rind-green;

	a {
		color: inherit;

		@include hover-state {
			text-decoration: none;
		}
	}
}

.entry-meta {
	@include font-size( 1.4 );
}

h1, h2, h3, h4 {
	font-family: $font-header;
	font-weight: 600;
	color: $rind-green;
}

.entry-content {
	h1 {
		@include font-size( 3.4, 1.2 );
	}
	h2 {
		@include font-size( 2.6, 30/26 );
	}
	h3 {
		@include font-size( 2, 1.5 );
		text-transform: uppercase;
	}
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
select,
textarea {
	margin: 0;
	width: 100%;
	@include font-size( 1.6 );
	line-height: 1;
	color: $color-text;
	background: transparent;
	border: 2px solid currentColor;
	border-radius: 0;
	box-shadow: none;

	&:focus {
		outline: none;
		box-shadow: inset 0 -5px 0 currentColor;
	}
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
	padding: 10px 15px;
}

select {
	width: auto;
	padding: 10px 15px;
	line-height: 1.5;
	border: 2px solid currentColor;

	&:focus {
		box-shadow: inset 0 -2px 0 currentColor;
	}
}

textarea {
	padding: 10px 20px 8px;
	width: 100%;
	line-height: 1.5;
	border: 2px solid currentColor;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.wp-block-button a.wp-block-button__link,
a.cta-button {
	display: inline-block;
	margin: 0;
	padding: 14px 30px;
	line-height: 1;
	font-weight: bold;
	@include font-size( 1.6 );
	text-transform: uppercase;
	text-decoration: none;
	color: $color-text;
	background: transparent;
	border: 2px solid currentColor;
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;

	@include hover-state {
		outline: none;
		box-shadow: inset 0 -5px 0 currentColor;
	}
}

.wp-block-button .wp-block-button__link {
	@include hover-state {
		color: $color-text;
		background: transparent;
		box-shadow: inset 0 -5px 0 currentColor !important;
	}
}

.wp-caption {
	border: none;
	margin-bottom: 1em;

	img {
		margin: 0;
		max-width: 100%;
	}

	.wp-caption-text {
		margin: 10px 0 8px;
		text-align: left;
	}
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
