* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: $font-text;
	@include font-size( 1.8 );
	line-height: 1.555555;
	color: $color-text;
	background-color: white;
}

button,
input,
select,
textarea {
	font-family: $font-text;
}

.container {
	margin: 0 auto;
	max-width: $size-main-width;

	@media (max-width: $size-main-width + 40px) {
		margin: 0 20px;
	}
}

hr {
	height: 2px;
	border: none;
	background-color: $color-3;
}

p {
	margin: 0 0 15px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a,
a:visited {
	color: $blue-dark;
	text-decoration: none;

	@include hover-state {
		color: darken($blue-dark, 5%);
		text-decoration: underline;
	}
}
a:focus {
	outline-color: currentColor;
}

.entry-content {
	h1,
	h2 {
		margin: 0 0 15px;
		line-height: 1.32143;
	}
	h1 {
		@include font-size( 2.8 );
	}
	h2 {
		@include font-size( 2.4 );
	}
	h3 {
		@include font-size( 2 );
	}
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
select,
textarea {
	margin: 0;
	width: 100%;
	@include font-size( 1.6 );
	line-height: 1;
	color: $color-text;
	background: transparent;
	border: 2px solid currentColor;
	border-radius: 0;
	box-shadow: none;

	&:focus {
		outline: none;
		box-shadow: inset 0 -5px 0 currentColor;
	}
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
	padding: 10px 15px;
}

select {
	width: auto;
	padding: 10px 15px;
	line-height: 1.5;
	border: 2px solid currentColor;

	&:focus {
		box-shadow: inset 0 -2px 0 currentColor;
	}
}

textarea {
	padding: 10px 20px 8px;
	width: 100%;
	line-height: 1.5;
	border: 2px solid currentColor;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.wp-block-button a.wp-block-button__link,
a.cta-button {
	display: inline-block;
	margin: 0;
	padding: 14px 30px;
	line-height: 1;
	font-weight: bold;
	@include font-size( 1.6 );
	text-transform: uppercase;
	text-decoration: none;
	color: $color-text;
	background: transparent;
	border: 2px solid currentColor;
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;
	@include light-on-dark;

	@include hover-state {
		outline: none;
		box-shadow: inset 0 -5px 0 currentColor;
	}
}

.wp-block-button .wp-block-button__link {
	@include hover-state {
		color: $color-text;
		background: transparent;
		box-shadow: inset 0 -5px 0 currentColor !important;
	}
}

.widget .callout,
.entry-content .callout {
	position: relative;
	margin-bottom: 15px;
	padding: 20px 20px 13px;
	// background: $red;
	border: 1px solid red;
	// color: white;
	border-radius: 5px;

	a {
		color: white;
		box-shadow: inset 0 -2px 0 #fff;

		@include hover-state {
			text-decoration: none;
			box-shadow: inset 0 -3px 0 #fff;
		}
	}
}

.wp-caption {
	border: none;
	margin-bottom: 1em;

	img {
		margin: 0;
		max-width: 100%;
	}

	.wp-caption-text {
		margin: 10px 0 8px;
		text-align: left;
	}
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
