body.archive {
	.site-main {
		display: grid;
		grid-template-columns: $size-post-width $size-sidebar-width;

		.page-header {
			grid-column: 1/span 2;
		}

		.page-content {
			grid-column: 1;
			margin-right: $gap * 2;
		}

		.posts-navigation {
			grid-column: 2;
			grid-row: 2;
		}
	}
}

.full-archive {
	margin: 2*$gap 0;
	display: grid;
	grid-template-columns: $size-sidebar-width 1fr;

	.full-archive-year {
		margin: 0;
		@include font-size( 2.6 );
	}

	.full-archive-list {
		margin: 0;
		list-style: none;

		.entry-title {
			margin-bottom: $gap-smaller;
			font-family: $font-text;
			@include font-size( 2.6, 36/26 );
			a {
				color: $watermelon;

				@include hover-state {
					text-decoration: underline;
				}
			}
		}
	}

	@media (max-width: $bkpt-phone) {
		display: block;

		.full-archive-year {
			margin-bottom: $gap;
		}
	}
}
