$size-main-width: 1000px;
$size-post-width: 830px;
$size-sidebar-width: 170px;

// Gap sizes
$gap-largest: 150px;
$gap-larger: 120px;
$gap-large: 60px;
$gap: 50px;
$gap-small: 40px;
$gap-smaller: 30px;
$gap-smallest: 20px;

$bkpt-phone: 450px;
$bkpt-tablet: 782px;

$font-text: 'ff-tisa-web-pro';
$font-header: 'poppins';

$slate-grey: #2D2C42;
$dark-grey: #1E1E2C;
$lilac: #CFCEE1;
$rind-green: #BBE187;
$watermelon: #FF6393;

$color-text: $lilac;

$svg-logo: 'http://vagrant.local/content/themes/choycedesign-2018/assets/logo.svg';
