$size-main-width: 1000px;
$size-post-width: 746px;
// Gutter of 100px between
$size-sidebar-width: 154px;

$bkpt-phone: 450px;
$bkpt-tablet: 782px;

$font-text: 'Tisa Pro';
$font-header: 'Poppins';

$slate-grey: #2D2C42;
$dark-grey: #1E1E2C;
$lilac: #D6CBEB;
$rind-green: #BBE187;
$watermelon: #FF5392;

$color-text: $lilac;
